<div id="<%= dom_id enrollment %>">
  <p>
    <strong>Grade:</strong>
    <%= enrollment.grade %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= enrollment.student_id %>
  </p>

  <p>
    <strong>Klass:</strong>
    <%= enrollment.klass_id %>
  </p>

</div>
